### REQUIREMENTS ###
# Use this file to set up all necessary dependencies for running the project.

### Step 1: Install Necessary Tools ###

# 1.1 Install wget
# macOS:
brew install wget
# Linux (Ubuntu/Debian):
sudo apt install wget

# 1.2 Install samtools
# macOS:
brew install samtools
# Linux (Ubuntu/Debian):
sudo apt install samtools

# 1.3 Install bowtie2
# macOS:
brew install bowtie2
# Linux (Ubuntu/Debian):
sudo apt install bowtie2

# 1.4 Install Node.js and JBrowse CLI
# macOS:
brew install node@20
sudo npm install -g @jbrowse/cli
# Linux:
sudo apt install nodejs
sudo npm install -g @jbrowse/cli

# Verify installation:
node -v
jbrowse --version

### Step 2: Apache Server Setup ###

# 2.1 Install apache2
# macOS:
brew install httpd
# Linux (Ubuntu/Debian):
sudo apt install apache2

# 2.2 Start the apache2 server
# macOS:
sudo brew services start httpd
# Linux:
sudo service apache2 start


### Additional Resources ###
# - Apache2 setup: https://httpd.apache.org/docs/
# - JBrowse CLI: https://jbrowse.org/

